apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-data
  namespace: __CUSTOMER_NAMESPACE__
  labels:
    app: mariadb
    customer: __CUSTOMER_NAME__
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
